<div class = "header fixed-top">
  <nav>
    <ul class="header-right">
      <p>提案者name</p>
      <li><%= link_to "sing-top", root_path %></li>
      <li><%= link_to "home", dig_home_dighome_path %></li>
      <li><%= link_to "sing_up", new_user_registration_path, class: "sing_css" %></li>
    </ul>
  </nav>
</div>