
<head>
<meta charset="UTF-8">
<div class = "digtop">
  <div class = "container">
    <h1>Dig up tool</h1>
    <p>
      まずは説明<%= link_to 'サイト説明ページ', dig_top_setumei_path %>を見てください
    </p>
      <%= link_to "登録ページ", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    <div class = "touroku-btn">  
      <%= link_to "登録済みユーザー", new_user_session_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>  
</div>
</head>