<div class = "setumei-page">
     <h1>サイトの説明</h1>　
      <p>〇やりたいのにあきらめてしまってる事や、一回はやってみたかった事、こういう夢があった等をみんなで協力して実行していけるツールしたいです</p>
      <p>〇このサイトのユーザー招待は自分の親交のある人を呼んでます。</p>
      <p>〇進め方</p>　
      　　<p>①実行したい事を決める（複数同時進行あり）</p>
      　　<p>②実行したい事がタイトルになった、提案者主体のチャットルームができる、提案者はやることが決まったら下の工程に書き込める（後で並び替え可能）</P>
            <p>小さなことからできるだけ大きな事まで、お金の必要なこと必要ないこと色々できたら</p>　　
            <p>こういうサイトを作れば進めやすいというのがあれば、
            ｗｅｂアプリ作成も検討します→サンプル　世界一周旅行ページ<a href="#"></a></p>
           <p>③プロフィールアイコンは無料のＧｒａｖａｔａｒ
           <a href="https://ja.gravatar.com/">（サイトｕｒｌ)</a>と連携してます　<a href="https://www.adminweb.jp/wordpress/comment/index10.html">Ｇｒａｖａｔａｒの登録説明</a>（登録方法がわかりやすいページへ移動）</P>
          <p>〇工程が進みづらい場合は、実行中の工程一覧の右にアドバイス、アイデアをかけるｔｘｔをつけてます（画像もアップしたい）</p>
</div>