<p>やりたい事を入力　➡　チャットタイトルになります</p>
    <%= form_with model: @task.new do |form| %>
      <%= form.label :name, 'やりたい事を入力' %>
      <%= form.text_field :name %>
      <%= form.submit "チャットルームへ" %>
    <% end %>