<p>やりたい事を入力　➡　チャットタイトルになります</p>
<%= form_with model: @task, local: true do |form| %>
      <%= form.label :name, 'やりたい事を入力' %>
      <%= form.text_field :name %>
      <%#= form.file_field :image %>
      <%= form.submit "チャットルームへ" %>
    <% end %>

<iframe width="560" height="315" src="https://www.youtube.com/embed/aqa9h-nL-TA?start=10" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>