<p>やりたい事を入力　➡　チャットタイトルになります</p>
<%= form_with model: @task, local: true do |form| %>
      <%= form.label :name, 'やりたい事を入力' %>
      <%= form.text_field :name %>
      <%#= form.file_field :image %>
      <%= form.submit "チャットルームへ" %>
    <% end %>
