<p>show</p>
<div class="task-title-area px-3">
  <h1>工程作成    提案者：<%= @yuser %> <%= link_to "1つ戻る",:back %></h1>
  <% if @yuser %>
    <%= link_to new_task_path, title: "New", class: "btn p-0 text-dark", local: true do %>
      <i class="fas fa-plus align-middle pr-1">
      </i><span class="align-middle">やりたい事作成ページへ</span>
    <% end %>
  </div>
  <div class="pt-3 p-1 text-nowrap task-index-area" id="tasksIndex">
    <%= render @tasks %>
  <% end %> 
</div>