<div class="done_content"
  <% @tasks.each do |task| %>
    <h2>やりたい事: <%= task.name %></h2>
    <ul class="done_list">
      <% task.todos.each do |todo| %>
        <li>工程: <%= todo.content %></li>
      <% end %>
    </ul>
  <% end %>
</div>
