<table class="table-bordered">
  <thead class="table-secondary">
    <h2>実行した事&emsp;提案者：<%= @user.name %></h2>
    <tr>
    <th scope="col">☆</th>
      <% @tasks.each do |task| %>
        <th scope="col"><%= task.name %></th>
          <% @todos.each do |todo| %>
            @retu = +=1
          <tbody>
              <tr class="table-info">
              <th scope="row">@retu</th>
                <td><%= todo.content %></td>
              </tr>
          <% end %>
          </tbody>
          <% if @status %>
            <%= link_to "工程ページへ", endshow_path(task),method: :delete, class: "btn btn-primary" %>
          <% end %>
      <% end %>
    </tr>
  </thead> 
</table>
