<div class= "users-itiran">
  <h1>登録ユーザー一覧</h1>  <p>登録ユーザー/招待ユーザー  :<%= User.all.size %>
  <%= form_with url: root_path do |f| %>
    <%= f.number_field :name %>
  <% end %>
  </p>
  <%= render 'dig_home/users/index' %>
</div>