<div class = container>
  <h1>Dig_up Tool</h1>
  <%= link_to "実行したいこと", dig_home_jikou_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "みんなのやりたい事一覧", dig_home_minna_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "今まで実行した事", dig_home_jikou_path, class: "btn btn-lg btn-primary" %>
</div>