<h1>Dig_up Tool</h1>
<h1>最初は実行したい事から入ってください</h1>
<%= link_to "ユーザー一覧", dig_home_dig_index_path, class: "digindex" %>
<%= link_to "実行したいこと", new_task_path, class: "btn btn-primary" %>
<%= link_to "みんなのやりたい事一覧", dig_home_minna_path, class: "btn btn-lg btn-primary" %>
<%= link_to "今まで実行した事", "#", class: "btn btn-lg btn-primary" %>