<div class = container>
    <p>やりたい事を入力　➡　チャットタイトルになります</p>
    <%= form_for(@user, url: dig_home_chat_room_path, method: :post) do |f| %>
        <div class="form-group">
            <%= f.label :@wonttitle, "やりたい事を入力" %>
            <%= f.text_field :@wonttitle %>
        </div>
            <%= f.submit "チャットルームへ" %>
    <% end %>
</div>