<div class = container>
    <p>やりたい事を入力　➡　チャットタイトルになります</p>
    <%= form_with model: @jikous do |f| %>
      <%= f.label :jikou, 'やりたい事を入力' %>
      <%= f.text_field :jikou %>
      <%= f.submit "チャットルームへ" %>
    <% end %>
</div>