<div class="goal-title-area px-3">
  <h1>工程作成</h1>
  <%= link_to new_goal_path, title: "New", class: "btn p-0 text-dark", remote: true do %>
    <i class="fas fa-plus align-middle pr-1"></i><span class="align-middle">やりたい事作作成</span>
  <% end %>
</div>
<div class="pt-3 p-1 text-nowrap goal-index-area" id="goalsIndex">
  <%= render @goals %>
</div>