@import "layouts";
@import "bootstrap";
@import "forms";
@import "devise";
@import "chat_rooms";
@import "dig_top";
@import "scaffolds";
@import "tasks";
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  text-align: center;
}
/*説明*/
.setumei-page{
  float: left;
  margin-left: 50px;
        /* 背景をグラデーションにする */
  background: linear-gradient(45deg, #10100E, #A72F37);
  color:#cccccc;
}
// dig_top
.big-bg{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#home {
  background-image: url(workspace/dig_up/app/images/970138_s.jpg) ;
  min-height: 100vh;
}
#home .page-title{
  text-transform: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */