@import "bootstrap-sprockets";
@import "bootstrap";

.header-right{
  float: right;
  font-size: 20px;
  margin-right: 50px;
}

.sintouroku{
  margin-left:    500px;
  .field{
  padding-bottom: 10px;
  }
}
