@import "bootstrap-sprockets";
@import "bootstrap";

.digtop{
  margin-top: 50px;
}
.container{
  text-align:  center;
}
.container h1{
  padding :  30px 0px 30px 0px;
}
.touroku-btn{
  margin-top: 15px;
}
.container p{
  padding-bottom:  15px;
}