.main-nav{
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercace;
  margin-top: 15px;
  list-style: none;
}
.main-nav li{
  margin-left: 30px;
  font-family: serif;
}
.main-nav h3{
  padding: 0px 800px 0px 0px;
  font-family: serif;
}
